# This is for re-writting "git://github.com" URLs but since the git protocol
# won't work for *any* outside site we might as well re-write any git:// URL
# and hope the the site supports it
[url "http://github.com"]
	insteadOf = git://github.com
[url "http://github.com/"]
	insteadOf = git://git@github.com:
[url "http://github.com/"]
	insteadOf = git@github.com:
# [url "http://git.dcmtk.org"]
# 	insteadOf = "git://git.dcmtk.org"
# [url "http://"]
# 	insteadOf = "git://"

# Workaround for bug when using SSL and HTTP proxy (LP #940431)
#[url "http://"]
#	insteadOf = https://

[web]
	browser = google-chrome
[user]
	name = Taylor Braun-Jones
[gui]
	historybrowser = gitk
	editor = emacs
[alias]
        st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
        lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
        dt = difftool -y
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	head = rev-parse HEAD
	show-graphical = !sh -c 'git difftool -d $1^..$1' -
	intercommit = !sh -c 'interdiff <(git show $1) <(git show $2) | less -FRS' -
[core]
	excludesfile = ~/.dotfiles/conf/.gitignore_global
[color]
	branch = auto
	diff = auto
	showbranch = auto
[pull]
	rebase = true
[rebase]
	autosquash = true
	stat = true
[http]
[interactive]
	singlekey = true
[push]
	default = simple
	followTags = true
[rerere]
	enabled = true

#
# BeyondCompare 3 as the diff/merge tool
#
# The built-in "b3c" difftool configuration is missing important bcompare flags:
#
#   -solo option is required to launch a seperate process (not reuse an existing
#   bcompare process that might be open)
#   -expandall option is a convenience to automatically expand all directories
#
[difftool "bc3"]
	cmd = bcompare -expandall -solo \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = bc3
[diff]
	tool = bc3
[difftool]
	bc3 = trustExitCode
[sendemail]
	thread = false
# multiple instances of the credential.helper configuration variable are tried
# in turn
#
# git-credential-gnome-keyring setup on Ubuntu 15.04:
#
#   sudo apt-get install libgnome-keyring-dev
#   cd /usr/share/doc/git/contrib/credential/gnome-keyring
#   sudo make
#
# Reference: http://stackoverflow.com/a/14528360/471839)
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
	helper = gnome-keyring
	helper = cache --timeout=43200
[credential "https://github.sw.ge.com"]
	username = TaylorBraunJones
[credential "https://github.com"]
	username = nocnokneo
[hub]
	host = github.sw.ge.com
[cola]
	textwidth = 78
[remote-hg]
	insecure = true
[log]
	follow = true
