[user]
	name = Taylor Braun-Jones
[gui]
	historybrowser = gitk
	editor = emacs
	#editor = C:/Users/tbraunjones/opt/emacs/bin/emacsclientw.exe --tty --alternate-editor=
[alias]
	incoming = log --oneline ..@{upstream}
	outgoing = log --oneline @{push}..
	st = status
	ci = commit
	br = branch --sort=committerdate
	co = checkout
	df = diff
	gr = !sh -c 'git grep -I "$@" -- \":(exclude)*.ipynb\"' -
	lg = log -p
	lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
	dt = difftool -y
	tag-comments = tag --list --format '%(refname:strip=2) %(subject)'
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	head = rev-parse HEAD
        show-graphical = !sh -c 'git difftool -d ${1:-HEAD}^..${1:-HEAD}' -
	intercommit = !sh -c 'interdiff <(git show $1) <(git show $2) | less -FRS' -
	releases = for-each-ref --format=\"%(color:bold green)%(align:9,left)%(refname:short)%(end)%(color:reset) %(color:dim)%(align:10,left)%(creatordate:short)%(end) %(color:reset)%(contents:subject)\" refs/tags/*
	feature-difftool = !sh -c 'git difftool -d $(git merge-base origin/master ${1:-HEAD})..${1:-HEAD}' -
	feature-diff = !sh -c 'git diff $(git merge-base origin/master ${1:-HEAD})..${1:-HEAD}' -
	feature-log = !sh -c 'git log --oneline $(git merge-base origin/master ${1:-HEAD})..${1:-HEAD}' -
	feature-changes = !sh -c 'git log --reverse --pretty=%s $(git merge-base origin/master ${1:-HEAD})..${1:-HEAD}' -
	mr-for = !sh -c 'git show `git rev-list $0..origin/master --ancestry-path --merges --reverse | head -n 1`'
[core]
	excludesfile = ~/.dotfiles/conf/.gitignore_global
[color]
	branch = auto
	diff = auto
	showbranch = auto
[pull]
	rebase = true
[rebase]
	autosquash = true
	stat = true
	autoStash = true
[http]
[interactive]
	singlekey = true
[push]
	default = current
	followTags = true
[rerere]
	enabled = true

[merge]
	tool = bc
[diff]
	tool = bc
[difftool]
	bc = trustExitCode
[sendemail]
	thread = false
# multiple instances of the credential.helper configuration variable are tried
# in turn
#
# git-credential-gnome-keyring setup on Ubuntu 15.04:
#
#   sudo apt-get install libgnome-keyring-dev
#   cd /usr/share/doc/git/contrib/credential/gnome-keyring
#   sudo make
#
# Reference: http://stackoverflow.com/a/14528360/471839)
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
	helper = gnome-keyring
	helper = cache --timeout=43200
[credential "https://github.sw.ge.com"]
	username = TaylorBraunJones
[credential "https://github.com"]
	username = nocnokneo
[hub]
	host = github.sw.ge.com
[cola]
	textwidth = 78
	spellcheck = true
[remote-hg]
	insecure = true
[log]
	follow = true
[gitubuntu]
	lpuser = taylor@braun-jones.org
