[user]
	name = Taylor Braun-Jones
	email = taylor@braun-jones.org
[gui]
	historybrowser = gitk
	editor = code --wait
[alias]
	incoming = log --oneline ..@{upstream}
	incoming-diff = diff ..@{upstream}
	outgoing = log --oneline @{push}..
	outgoing-diff = diff @{push}..
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	gr = !sh -c 'git grep -I \"$@\" -- \":(exclude)*.ipynb\"' -
	lg = log -p
	lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
	dt = difftool -y
	tag-comments = tag --list --format '%(refname:strip=2) %(subject)'
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	head = rev-parse HEAD
	show-graphical = !sh -c 'git difftool -d ${1:-HEAD}^..${1:-HEAD}' -
	intercommit = !sh -c 'interdiff <(git show $1) <(git show $2) | less -FRS' -
	releases = for-each-ref --sort=version:refname --format=\"%(color:bold green)%(align:9,left)%(refname:short)%(end)%(color:reset) %(color:dim)%(align:10,left)%(creatordate:short)%(end) %(color:reset)%(contents:subject)\" refs/tags/*
	feature-difftool = !sh -c 'git difftool -d $(git merge-base origin/$(git default-branch) ${1:-HEAD})..${1:-HEAD}' -
	feature-guidifftool = !sh -c 'git difftool -dg $(git merge-base origin/$(git default-branch) ${1:-HEAD})..${1:-HEAD}' -
	feature-diff = !sh -c 'git diff $(git merge-base origin/$(git default-branch) ${1:-HEAD})..${1:-HEAD}' -
	feature-log = !sh -c 'git log --oneline $(git merge-base origin/$(git default-branch) ${1:-HEAD})..${1:-HEAD}' -
	feature-changes = !sh -c 'git log --reverse --pretty=\"- %B\" $(git merge-base origin/$(git default-branch) ${1:-HEAD})..${1:-HEAD}' -
	# Interactively rebase a feature branch without pulling changes from $(git default-branch)
	feature-irebase = !sh -c 'git rebase -i $(git merge-base origin/$(git default-branch) ${1:-HEAD}) $1' -
	mr-for = !sh -c 'git show `git rev-list $0..origin/$(git default-branch) --ancestry-path --merges --reverse | head -n 1`'
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[core]
	excludesfile = ~/.dotfiles/conf/.gitignore_global
	editor = code --wait
[color]
	branch = auto
	diff = auto
	showbranch = auto
[pull]
	rebase = true
[rebase]
	autosquash = true
	stat = true
	autoStash = true
[http]
	cookiefile = /home/tbraunjones/.gitcookies
[interactive]
	singlekey = true
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[rerere]
	enabled = true
	autoupdate = true

[merge]
	tool = vscode
[diff]
	guitool = bc
	tool = vscode
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
	cmd = code --wait $MERGED
[difftool]
	bc = trustExitCode
	prompt = false
[sendemail]
	thread = false
# multiple instances of the credential.helper configuration variable are tried
# in turn
#
# git-credential-gnome-keyring setup on Ubuntu 23.10:
#
#     sudo apt-get install libsecret-1-0 libsecret-1-dev
#     cd /usr/share/doc/git/contrib/credential/libsecret
#     sudo make
#     git config --global credential.helper /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
#
# Reference: http://stackoverflow.com/a/14528360/471839)
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
#	helper = gnome-keyring
#	helper = cache --timeout=43200
[credential "https://github.sw.ge.com"]
	username = TaylorBraunJones
[credential "https://github.com"]
	username = nocnokneo
[hub]
	host = github.sw.ge.com
[cola]
	textwidth = 78
	spellcheck = true
	safemode = true
	statusindent = false
	statusshowtotals = false
	boldheaders = true
	expandtab = true
	theme = flat-dark-grey
	icontheme = dark
	autocompletepaths = true
	defaultrepo = /home/tbj/git/cyto
[remote-hg]
	insecure = true
[log]
	follow = true
[web]
	browser = xdg-open
[gitubuntu]
	lpuser = taylor@braun-jones.org
# webdiff can be just diff for console only diffing
# [diff "jupyternotebook"]
# 	command = /home/tbj/git/cyto/env/bin/git-nbdiffdriver webdiff
[merge "jupyternotebook"]
	driver = /home/tbj/git/cyto/env/bin/git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
# [difftool "nbdime"]
# 	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
# [mergetool "nbdime"]
# 	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
# [filter "lfs"]
#         process = git-lfs filter-process
#         required = true
#         clean = git-lfs clean -- %f
#         smudge = git-lfs smudge -- %f
# [sequence]
# 	editor = "/home/tbj/git/cyto/env/bin/rebase-editor --color --"
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
[help]
	autocorrect = prompt
